/*Common*/
.App {
  text-align: center;
  background-color: black;
}
.App-modules{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 600px;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  padding: 10px;
  height: 30px;
}

.App-header {
  display: -webkit-flex;
  background-color: #D17400;
  height: 3%;
  padding: 1%;
  color: white;
  align-items: stretch;
  justify-content: center;
}

.App-Dice{
  display: -webkit-flex;
  background-color: #D17400;
  justify-content: center;
  align-items: stretch;
}

.App-Dice-Section{
  display: -webkit-flex;
  background-color: #FFCA81;
  width: 7%;
  align-items: stretch;
  justify-content: center;

  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 5px;
}


/*Character Hub*/
.App-stats{
  background-color: #FFCA81;
  width: 300px;
  border-style: solid;
  border-color: black;
  padding: 20px;
}

.App-inventoryandmagic{
  flex-direction: column;
  align-items: stretch;
}
.App-magicandskill{
  width: 300px;
  height: 295px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
}
.App-inventory{
  width: 300px;
  height: 295px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
}

.App-note{
  width: 300px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
  
}



/*Authentication*/
.App-auth{
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.App-auth-buttons{
  flex-direction: row;
}
.App-auth-signup{
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  background-color: #FFBB66;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.App-auth-signupbutton{
  background-color: #FFBB66;
  padding: 10px 25px;
  border-color: #FFCA81;
  margin: 0;
}
.App-auth-signin{
  font-weight: bold;
  color: white;
  width: 50%;
  padding: 15px 20px;
  background-color: #D17400;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.App-auth-signinbutton{
  padding: 10px 25px;
  background-color: #D17400;
  border-color: #D17400;
  margin: 0;
}



/*Main Hub*/
.App-Main-Hub{
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
}

.App-Main-Hub-Create-Button{
  display: -webkit-flex;
  width: 200px;
  height: 50px;
  background-color: #FFBB66;
  border-style: solid;
  border-width: 5px;
  border-color: #D17400;
  border-radius: 15px;
  margin: 5px;
  justify-content: center;
}

.App-Lists{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 500px;
}

.App-List-Elements{
  background-color: #D17400;
  border-style: solid;
  border-color: black;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.App-Campaign-List{
  border-style: solid;
  padding: 15px;
  margin: 10px;
  background-color: #FFBB66;
  border-color: #D17400;
  border-width: 5px;
  width: 40%;
}

.App-User-Campaign-List{
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  background-color: #FFBB66;
  border-color: #D17400;
  border-width: 5px;
  width: 40%;
}


/*Misc*/

.error{
  color: red;
  font-weight: bold;
  background-color: #FFBB66;
  border-radius: 10px;
  padding: 5px;
}

ul{
  text-align: left;
}
li{
  padding: 2px;
}