.App {
  text-align: center;
  background-color: grey;
}
.App-modules{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 600px;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #D17400;
  height: 80px;
  padding: 10px;
  padding-bottom: 5px;
  color: white;
}


.App-stats{
  background-color: #FFCA81;
  width: 300px;
  border-style: solid;
  border-color: black;
  padding: 20px;
}

.App-inventoryandmagic{
  flex-direction: column;
  align-items: stretch;
}
.App-magicandskill{
  width: 300px;
  height: 295px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
}
.App-inventory{
  width: 300px;
  height: 295px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
}

.App-note{
  width: 300px;
  background-color: #FFCA81;
  border-style: solid;
  border-color: black;
  
}

.App-auth{
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.App-auth-buttons{
  flex-direction: row;
}
.App-auth-signup{
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  background-color: #FFBB66;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.App-auth-signupbutton{
  background-color: #FFBB66;
  padding: 10px 25px;
  border-color: #FFCA81;
  margin: 0;
}
.App-auth-signin{
  font-weight: bold;
  color: white;
  width: 50%;
  padding: 15px 20px;
  background-color: #D17400;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.App-auth-signinbutton{
  padding: 10px 25px;
  background-color: #D17400;
  border-color: #D17400;
  margin: 0;
}


ul{
  text-align: left;
}
li{
  padding: 2px;
}